<!-- FIXME: new.ejs

    <section class="hero">
        <div class="hero-body">
            <p class="title">New</p>
            <p class="subtitle">Placeholder /recipes/new</p>
        </div>
    </section>

    <form action="/recipes" method="POST">
        <fieldset>
            <legend>Add New Recipe:</legend>
            <label for="rName">Name:</label>
            <input type="text" id="rName" name="name" placeholder="e.g. Crudités">
            <br>

            <label for="rIngredients">Ingredients - Please separate each ingredient with a
                <strong>semicolon</strong>:</label>
            <textarea id="rIngredients" name="ingredients"
                placeholder="e.g. Assorted vegetables; 1 cup plain yogurt..."></textarea>
            <br>


            <label for="rInstructions">Cooking Instructions - Please separate each ingredient with a
                <strong>semicolon</strong>:</label>
            <textarea id="rInstructions" name="instructions"
                placeholder="e.g. Prepare vegetables; Combine the plain yogurt…"></textarea>
            <br>


            <label for="rCookingTime">Cooking Time (Minutes):</label>
            <input type="number" id="rCookingTime" name="cookingTime" min="0" max="9999" placeholder="10">
            <br>

            <label for="rCategory">Category:</label>
            <select id="rCategory" name="category">
                <option value="Appetizer">Appetizer</option>
                <option value="Dessert">Dessert</option>
                <option value="Drinks">Drinks</option>
                <option value="Entree">Entrée</option>
                <option value="Other">Other</option>
                <option value="Side Dish">Side Dish</option>
            </select>
            <br>

            <label for="rImageUrl">Image URL:</label>
            <input type="string" id="rImageUrl" name="imageUrl" placeholder="https://i.imgur.com/N46VgZu.png">
            <br>

            <button type="submit">Add Recipe!!!</button>
        </fieldset>
    </form>
    <br><br>

-->


<!-- FIXME: edit.ejs

<section class="hero">
    <div class="hero-body">
        <p class="title">Edit</p>
        <p class="subtitle">Placeholder /recipes/:id/edit</p>
    </div>
</section>
<br>

<form action="/recipes/<%= recipe._id %>?_method=PUT" method="POST">
    <fieldset>
        <legend>Edit Recipe</legend>
        <label for="rName">Name:</label>
        <input type="text" id="rName" name="name" value="<%= recipe.name %>">
        <br>
        <label for="rIngredients">Ingredients - Please separate each ingredient with a <strong>semicolon</strong>:</label>
        <textarea id="rIngredients" name="ingredients"><%= recipe.ingredients.join('; ') %></textarea>
        <br>
        <label for="rInstructions">Cooking Instructions - Please separate each ingredient with a <strong>semicolon</strong>:</label>
        <textarea id="rInstructions" name="instructions"><%= recipe.instructions.join('; ') %></textarea>
        <br>
        <label for="rCookingTime">Cooking Time (Minutes):</label>
        <input type="number" id="rCookingTime" name="cookingTime" min="0" max="9999"
            value="<%= recipe.cookingTime %>">
        <br>
        <label>Category:
            <select name="category">
                <option value="Appetizer" <%=recipe.category==='Appetizer' ? 'selected' : '' %>>Appetizer</option>
                <option value="Dessert" <%=recipe.category==='Dessert' ? 'selected' : '' %>>Dessert</option>
                <option value="Drinks" <%=recipe.category==='Drinks' ? 'selected' : '' %>>Drinks</option>
                <option value="Entree" <%=recipe.category==='Entree' ? 'selected' : '' %>>Entrée</option>
                <option value="Other" <%=recipe.category==='Other' ? 'selected' : '' %>>Other</option>
                <option value="Side Dish" <%=recipe.category==='Side Dish' ? 'selected' : '' %>>Side Dish</option>
            </select>
        </label>
        <br>
        <label for="rImageUrl">Image URL:</label>
        <input type="string" id="rImageUrl" name="imageUrl" value="<%= recipe.imageUrl %>">
        <br>
        <button type="submit">Update Recipe</button>
    </fieldset>
</form>

TODO: Missing half of the ejs

-->




<!-- FIXME: userIndex.ejs

    <section>
        <table>
            <thead>
                <tr>
                    <th>(placeholder) Image</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Cooking Time (Minutes)</th>
                    <th>Date Added</th>
                    <th>Last Updated</th>
                    <th>(placeholder) Recipe Detail</th>
                    <th>(placeholder) Edit Recipe</th>
                    <th>(placeholder) Delete Recipe</th>
                </tr>
            </thead>
            <% recipes.forEach(function(r) { %>
                <% if (user._id.equals(r.user)) { %>
            <tbody>
                <tr>
                    <td>
                        <% if (r.imageUrl) { %>
                            <img src="<%= r.imageUrl %>" alt="Recipe Image" style="width:90px; height:90px;">
                            <% } else { %>
                                <img src="/images/ojigi_kuma.png" alt="Placeholder Image" style="width:90px; height:90px;">
                            <% } %>
                    </td>
                    <td><%= r.name %></td>
                    <td><%= r.category %></td>
                    <td><%= r.cookingTime %></td>
                    <td><%= r.createdAt.toLocaleDateString() %></td>
                    <td><%= r.updatedAt.toLocaleDateString() %></td>
                    <td><a href="/recipes/<%= r._id %>">Recipe Detail</a></td>
                    <td>
                        <form action="/recipes/<%= r._id %>/edit" method="GET">
                            <button type="submit">Edit Recipe</button>
                        </form>
                    </td>
                    <td>
                        <form action="/recipes/<%= r._id %>?_method=DELETE" method="POST">
                            <button type="submit">Delete Recipe</button>
                        </form>
                    </td>
                </tr>

            </tbody>
            <% } %>
            <% }) %>
</table>
</section>