<%- include('../partials/header') %>

    <h1>Index</h1>
    <h1>-- Placeholder /recipes (index) --</h1>

    <br><br>

    <table>
        <thead>
            <tr>
                <th>(placeholder) Image</th>
                <th>Name</th>
                <th>Category</th>
                <th>Cooking Time (Minutes)</th>
                <th>Date Added</th>
                <th>(placeholder) Recipe Detail</th>
            </tr>
        </thead>

        <tbody>
            <% recipes.forEach(function(r) { %>
                <tr>
                    <td>
                        <% if (r.imageUrl) { %>
                            <img src="<%= r.imageUrl %>" alt="Recipe Image" style="width:90px; height:90px;">
                        <% } else { %>
                            <img src="/images/ojigi_kuma.png" alt="Placeholder Image" style="width:90px; height:90px;">
                        <% } %>
                    </td>
                    <td><%= r.name %></td>
                    <td><%= r.category %></td>
                    <td><%= r.cookingTime %></td>
                    <td><%= r.createdAt.toLocaleDateString() %></td>
                    <td><a href="/recipes/<%= r._id %>">Recipe Detail</a></td>
                </tr>
                <% }); %>
        </tbody>
    </table>


<%- include('../partials/footer') %>