<%- include('../partials/header') %>

<h2>All Recipes</h2>

<br><br>

<table>
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Category</th>
            <th>Cooking Time (Minutes)</th>
            <th>Recipe Detail</th>
        </tr>
    </thead>

    <tbody>
        <% recipes.forEach(function(r) { %>
            <tr>
                <td>
                    <!-- FIXME: if imageURL AND imageURL is empty or only whitespace, display image -->
                    <% if (r.imageUrl) { %>
                        <img src="<%= r.imageUrl %>" alt="Recipe Image" style="width: 100px; height: 100px;">
                    <% } else { %>
                        <!-- <img src="https://i.imgur.com/on1iU8m.png" alt="Placeholder Image" style="width: 100px; height: 100px;"> -->
                        <img src="/images/ojigi_kuma.png" alt="Placeholder Image" style="width: 100px; height: 100px;">
                    <% } %>
                </td>
                <td><%= r.name %></td>
                <td><%= r.category %></td>
                <td><%= r.cookingTime %></td>
                <td><a href="/recipes/<%= r._id %>">Recipe Detail</a></td>
            </tr>
            <% }); %>
    </tbody>
</table>

<%- include('../partials/footer') %>



<!-- TODO: the placeholder image is not working, check what's wrong with it, 03/17
https://www.w3schools.com/jsref/jsref_trim_string.asp 
check why the source for placeholder image not working
-->