<%- include('../partials/header') %>


<!-- breadcrumb -->
<br>
<div class="container">
    <nav class="breadcrumb is-small" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/recipes">All Recipes</a></li>
            <li class="is-active"><a href="#" aria-current="page">Recipe: <%= recipe.name %></a></li>
        </ul>
    </nav>
</div>


<section class="hero is-small">
    <div class="hero-body">
        <p class="title"><%= recipe.name %></p>
        <!-- <p class="subtitle">placeholder subtitle</p> -->
    </div>
</section>

<div class="container">
    <!-- main photo of recipe -->
    <figure class="is-centered">
        <% if (recipe.imageUrl) { %>
            <img class="has-ratio" src="<%= recipe.imageUrl %>" alt="Recipe Image" style="width: 40%; height: auto">
            <% } else { %>
                <img src="https://i.imgur.com/on1iU8m.png" alt="Placeholder Image" style="width: 40%; height: auto">
                <% } %>
    </figure>
    <div class="content">
        <!-- name -->
        <h1><%= recipe.name %></h1>
        <p><%= recipe.description %></p>
        <!-- category -->
        <h3>Category</h3>
        <p><%= recipe.category %></p>
        <!-- cooking time -->
        <h3>Cooking Time</h3>
        <p><%= recipe.cookingTime %> Minutes</p>
        <!-- ingredients -->
        <h3>Ingredients</h3>
        <ul>
            <% recipe.ingredients.forEach(function(eachIngredient) { %>
                <li>
                    <%= eachIngredient %>
                </li>
            <% }); %>
        </ul>
        <!-- instructions -->
        <h3>Cooking Instructions</h3>
        <ol>
            <% recipe.instructions.forEach(function(eachInstruction) { %>
                <li>
                    <%= eachInstruction %>
                </li>
            <% }); %>
        </ol>
    </div>
</div>
<br><br>


<div class="container">
    <div class="tile is-child box">
        <article class="media">
            <!-- User Avatar -->
            <% if (user) { %>
                <figure class="media-left">
                    <p class="image is-64x64">
                        <img class="is-rounded" src="<%= recipe.userAvatar %>" alt="avatar"
                            referrerpolicy="no-referrer">
                    </p>
                </figure>
                <div class="media-content">
                    <form action="/recipes/<%= recipe._id %>/reviews" method="POST">
                        <div class="field">
                            <p class="control">
                                <textarea class="textarea" name="content" placeholder="Add a comment..." maxlength="280" rows="2"></textarea>
                            </p>
                        </div>
                        <nav class="level">
                            <div class="level-left">
                                <div class="level-item">
                                    <button class="button is-primary is-rounded" type="submit">Add Comment</button>
                                </div>
                            </div>
                            <div class="level-right">
                                <div class="level-item">
                                </div>
                            </div>
                        </nav>
                    </form>
                </div>
                <% } %>
        </article>
    </div>
    <% if (recipe.reviews.length) { %>
        <div class="tile is-child box">
            <% recipe.reviews.forEach(function(r) { %>
                <article class="media">
                    <!-- User Avatar -->
                    <figure class="media-left">
                        <p class="image is-64x64">
                            <img class="is-rounded" src="<%= recipe.userAvatar %>" alt="avatar"
                                referrerpolicy="no-referrer">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong><%= r.userName %></strong> <small><%= r.createdAt.toLocaleDateString() %></small>
                                <br>
                                <%= r.content %>
                            </p>
                        </div>
                        <% if (user?._id.equals(r.user)) { %>
                            <nav class="level">
                                <div class="level-left">
                                    <div class="level-item">
                                        <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                                            <button class="button is-danger is-rounded" type="submit">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </nav>
                            <% } %>
                    </div>
                </article>
                <% }); %>
        </div>
        <% } else { %>
            <h1>No Reviews Yet &#128547</h1>
            <% } %>
</div>


<br><br>



        <!-- FIXME: this needs to move later -->
        <!-- <section>
            <% if (user) { %>
                <form action="/recipes/<%= recipe.id%>/edit" method="GET">
                    <button class="button is-warning is-light" type="submit">Edit Recipe</button>
                </form>
                <% } %>
        </section> -->

<%- include('../partials/footer') %>