<%- include('../partials/header') %>

<h2>Recipe Show Page - HI PAUL </h2>

<section>
    <div>       
        <% if (recipe.imageUrl) { %>
            <img src="<%= recipe.imageUrl %>" alt="Recipe Image" style="width: 20%; height: auto">
        <% } else { %>
            <img src="https://i.imgur.com/on1iU8m.png" alt="Placeholder Image" style="width: 20%; height: auto">
            <!-- <img src="../../public/images/ojigi_kuma.png" alt="Placeholder Image" style="width: 100px; height: 100px;"> -->
        <% } %>
    </div>
    <div><strong> <%= recipe.name %> Recipe </strong></div>
    <div><strong> Category: <%= recipe.category %> </strong></div>
    <div><strong> <%= recipe.cookingTime %> Minutes </strong></div>
    
    <div>
        <strong>Ingredients:</strong>
        <ul>
            <% recipe.ingredients.forEach(function(eachIngredient) { %>
                <li><%= eachIngredient %></li>
            <% }); %>
        </ul>
    </div>



    
    <div>
        <strong> Cooking Instructions: </strong>
        <ul>
            <% recipe.instructions.forEach(function(eachInstruction) { %>
                <li><%= eachInstruction %></li>
            <% }); %>
        </ul>
    </div>
















</section>

<br><br>
<section>
    <a href="/recipes/<%= recipe.id%>/edit">Edit Recipe</a>
</section>

<br><br>
<section>
    <form action="/recipes/<%= recipe._id %>/reviews" method="POST">
        <label>Review:</label>
        <textarea name="content"></textarea><br>
        <label>Rating:</label>
        <input type="submit" value="Add Review">
    </form>
</section>

<br><br>
<section>
    <% if (recipe.reviews.length) { %>
            <table>
                <thead>
                <tr>
                    <th>omg please show Review</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                    <% recipe.reviews.forEach(function(r) { %>
                        <tr>
                            <td><%= r.content %></td>
                            <td><%= r.createdAt.toLocaleDateString() %></td>
                            <td>
                                <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                                    <button type="submit">Delete X</button>
                                </form>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
    <% } else { %>
    <h5>No Reviews Yet</h5>
    <% } %>
</section>







<%- include('../partials/footer') %>
