<%- include('../partials/header') %>

    <section class="hero">
        <div class="hero-body">
            <p class="title">Show</p>
            <p class="subtitle">Placeholder /recipes/show</p>
        </div>
    </section>
    <br>

    <section>
        <div>
            <% if (recipe.imageUrl) { %>
                <img src="<%= recipe.imageUrl %>" alt="Recipe Image" style="width: 30%; height: auto">
                <% } else { %>
                    <img src="https://i.imgur.com/on1iU8m.png" alt="Placeholder Image" style="width: 20%; height: auto">
            <% } %>
        </div>
        <div><h2><%= recipe.name %> Recipe</h2></div>
        <div><h2>Category: <%= recipe.category %></h2></div>
        <div><h2>Cooking Time: <%= recipe.cookingTime %> Minutes</h2></div>

        <div><h2>Ingredients:</h2>
            <ul list-style="none" list-style-position="inside">
                <% recipe.ingredients.forEach(function(eachIngredient) { %>
                    <li><%= eachIngredient %></li>
                <% }); %>
            </ul>
        </div>

        <div><h2> Cooking Instructions:</h2>
            <ol>
                <% recipe.instructions.forEach(function(eachInstruction) { %>
                    <li><%= eachInstruction %></li>
                <% }); %>
            </ol>
        </div>
    </section>

    
    <!-- FIXME: this needs to move later -->
    <h2>-- move this to "my recipes" page don't forget OAuth --</h2>
    <section>
        <% if (user) { %>
        <form action="/recipes/<%= recipe.id%>/edit" method="GET">
            <button type="submit">Edit Recipe</button>
        </form>
        <% } %>
    </section>
    <br><br>

<!-- FIXME: -->
    <section>
        <% if (user) { %>
        <form action="/recipes/<%= recipe._id %>/reviews" method="POST">
            <label>Review:</label>
                <textarea name="content"></textarea><br>
            <label>Rating:</label>
                <input type="submit" value="Add Review">
        </form>
        <% } %>
    </section>
    <br>

    <!-- FIXME: this needs to be centered -->
    <!-- thead is tableHeader, tr is tableRow -->
    <section>
        <% if (recipe.reviews.length) { %>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody>
                    <% recipe.reviews.forEach(function(r) { %>
                        <tr>
                            <td><%= r.createdAt.toLocaleDateString() %></td>
                            <td><%= r.content %></td>
                            <td>
                            <% if (user?._id.equals(r.user)) { %>
                                <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                                    <button type="submit">Delete X</button>
                                </form>
                            <% } %>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
            <% } else { %>
                <h5>No Reviews Yet &#128547</h5>
            <% } %>
    </section>


<%- include('../partials/footer') %>