<%- include('../partials/header') %>

<h2>Recipe Show Page - HI PAUL </h2>

<section>
    <div><img src="<%= recipe.imageUrl %>" alt="Recipe Image" style="width: 20%; height: auto;"></div>
    <div><%= recipe.name %> Recipe</div>
    <div>Category: <%= recipe.category %></div>
    <div><%= recipe.cookingTime %> Minutes</div>
    <div>Ingredients: <%= recipe.ingredients %></div>
    <div>Cooking Instructions: <%= recipe.instructions %></div>
</section>

<br><br>
<section>
    <a href="/recipes/<%= recipe.id%>/edit">Edit Recipe</a>
</section>

<br><br>
<section>
    <form method="POST" action="/recipes/<%= recipe._id %>/reviews">
        <label>Review:</label>
        <textarea name="content"></textarea><br>
        <label>Rating:</label>
        <input type="submit" value="Add Review">
    </form>
</section>

<br><br>
<section>
    <% if (recipe.reviews.length) { %>
            <table>
                <thead>
                <tr>
                    <th>omg please show Review</th>
                </tr>
                </thead>
                <tbody>
                    <% recipe.reviews.forEach(function(r) { %>
                        <tr>
                            <td><%= r.content %></td>
                            <td>
                                <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                                    <button type="submit">Delete X</button>
                                </form>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
    <% } else { %>
    <h5>No Reviews Yet</h5>
    <% } %>
</section>







<%- include('../partials/footer') %>
