<%- include('../partials/header') %>

<h2>Recipe Show Page - HI PAUL </h2>

<section id="show-page">

    <div><img src="<%= recipe.imageUrl %>" alt="Recipe Image" style="width: 20%; height: auto;"></div>

    <div><%= recipe.name %> Recipe</div>
    <div>Category: <%= recipe.category %></div>
    <div><%= recipe.cookingTime %> Minutes</div>
    <div>Ingredients: <%= recipe.ingredients %></div>
    <div>Cooking Instructions: <%= recipe.instructions %></div>

</section>




<%- include('../partials/footer') %>
