<%- include('../partials/header') %>

    <section class="hero">
        <div class="hero-body">
            <p class="title">userIndex</p>
            <p class="subtitle">Placeholder /recipes/userIndex</p>
        </div>
    </section>
    <br>

    <section>
        <table>
            <thead>
                <tr>
                    <th>(placeholder) Image</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Cooking Time (Minutes)</th>
                    <th>Date Added</th>
                    <th>Last Updated</th>
                    <th>(placeholder) Recipe Detail</th>
                    <th>(placeholder) Edit Recipe</th>
                    <th>(placeholder) Delete Recipe</th>
                </tr>
            </thead>
            <% recipes.forEach(function(r) { %>
                <% if (user._id.equals(r.user)) { %>
            <tbody>
                <tr>
                    <td>
                        <% if (r.imageUrl) { %>
                            <img src="<%= r.imageUrl %>" alt="Recipe Image" style="width:90px; height:90px;">
                            <% } else { %>
                                <img src="/images/ojigi_kuma.png" alt="Placeholder Image" style="width:90px; height:90px;">
                            <% } %>
                    </td>
                    <td><%= r.name %></td>
                    <td><%= r.category %></td>
                    <td><%= r.cookingTime %></td>
                    <td><%= r.createdAt.toLocaleDateString() %></td>
                    <td><%= r.updatedAt.toLocaleDateString() %></td>
                    <td><a href="/recipes/<%= r._id %>">Recipe Detail</a></td>
                    <td>
                        <form action="/recipes/<%= r._id %>/edit" method="GET">
                            <button type="submit">Edit Recipe</button>
                        </form>
                    </td>
                    <td>
                        <form action="/recipes/<%= r._id %>?_method=DELETE" method="POST">
                            <button type="submit">Delete Recipe</button>
                        </form>
                    </td>
                </tr>

            </tbody>
            <% } %>
            <% }) %>
</table>

    </section>

    <%- include('../partials/footer') %>
